SECRET_KEY=django-insecure-bunu-degistir-cok-uzun-rastgele-bir-anahtar
DEBUG=False

# PostgreSQL
DB_NAME=ondur
DB_USER=ondur
DB_PASSWORD=guclu-bir-sifre
DB_HOST=localhost
DB_PORT=5432

# Domain
ALLOWED_HOSTS=onduran.com.tr,www.onduran.com.tr
CORS_ORIGINS=https://onduran.com.tr,https://www.onduran.com.tr
